-- 5SPOT ensemble deck template for OPM Flow.
-- ERT copies this file to MODEL.DATA in each runpath and writes the
-- PERMX field to permx.grdecl next to it before the forward model runs.
--
-- The relative TRUE_MODEL paths assume the runpath layout
--   <case>/<method>/runs/real-<IENS>-iter-<ITER>
-- (three levels below the case directory).  Keep RUNPATH in sync with this.
--------------------------------------------------------------------------------------
RUNSPEC
--------------------------------------------------------------------------------------
DIMENS
   50   50    1  /

METRIC

OIL

WATER

GAS

DISGAS


TABDIMS
    1       1      20      200       1      200       1    /

WELLDIMS
    5     1        5       5  /


START
  1 'JAN' 2000 /


NSTACK
  10 /



--------------------------------------------------------------------------------------
GRID
--------------------------------------------------------------------------------------
INCLUDE
  '../../../TRUE_MODEL/include/TRUE_MODEL.COORD' /

INCLUDE
  '../../../TRUE_MODEL/include/TRUE_MODEL.ZCORN' /

PORO
2500*0.2
/

INCLUDE
  permx.grdecl /

@PERMEABILITY_TIES@

INIT

NEWTRAN


--------------------------------------------------------------------------------------
PROPS
--------------------------------------------------------------------------------------

ROCK
  300 1.450E-05 /

INCLUDE
  '../../../TRUE_MODEL/include/TRUE_MODEL.PVO' /

INCLUDE
  '../../../TRUE_MODEL/include/TRUE_MODEL.RCP' /


--------------------------------------------------------------------------------------
SOLUTION
--------------------------------------------------------------------------------------
EQUIL
2000.000 200.00 2280.00  .000  2000.000  .000     1      0       0 /

PBVD
  1    10
  1000 10 /


--------------------------------------------------------------------------------------
SUMMARY
--------------------------------------------------------------------------------------

WOPR
 'P1'
 'P2'
 'P3'
 'P4'
/

WWPR
 'P1'
 'P2'
 'P3'
 'P4'
/

WGPR
 'P1'
 'P2'
 'P3'
 'P4'
/

RPTONLY

RUNSUM

SEPARATE

RPTSMRY
  1  /

DATE


TCPU

SCHEDULE
----------------------------------------------------------------------------------------
RPTRST
   BASIC=2/

WELSPECS
 'INJ1' G1 25 25 2000 WATER /
 'P1'   G1  1  1 1* 'OIL'   /
 'P2'   G1  1 50 1* 'OIL'   /
 'P3'   G1 50  1 1* 'OIL'   /
 'P4'   G1 50 50 1* 'OIL'   /
/

COMPDAT
 'INJ1' 25 25 1 1 OPEN 1* @WI_INJ1@ 0.25 /
 'P1' 1 1  1 1 OPEN 1* @WI_P1@ 0.25 /
 'P2' 1 50 1 1 OPEN 1* @WI_P2@ 0.25 /
 'P3' 50 1 1 1 OPEN 1* @WI_P3@ 0.25 /
 'P4' 50 50 1 1 OPEN 1* @WI_P4@ 0.25 /
/

INCLUDE
  '../../../TRUE_MODEL/include/TRUE_MODEL.SCHEDULE' /

END
